# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
fpdf=1.7.2=pypi_0
python=3.9.0=h88f2d9e_2
readline=8.0=h1de35cc_0
rply=0.7.7=py_0
setuptools=50.3.2=py39hecd8cb5_2
tk=8.6.10=hb0a8c7a_0
